In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer

In [26]:
df = pd.read_csv('data/University Students Monthly Expenses.csv')

In [27]:
df = df[df.isnull().sum(axis=1) < 3]
df = df.drop_duplicates()

In [30]:
df

,Gender,Age,Study_year,Living,Scholarship,Part_time_job,Transporting,Smoking,Drinks,Games_&_Hobbies,Cosmetics_&_Self-care,Monthly_Subscription,Monthly_expenses_$
0,Female,21,2.0,Home,No,No,No,No,No,No,Yes,No,150.0
1,Male,25,3.0,Hostel,No,Yes,Motorcycle,No,No,Yes,Yes,Yes,220.0
2,Male,23,2.0,Home,Yes,No,No,No,No,No,No,NaN,180.0
3,Male,19,3.0,Hostel,No,No,Motorcycle,No,No,Yes,Yes,Yes,200.0
4,Female,19,2.0,Home,No,No,Motorcycle,No,No,No,Yes,No,300.0
5,Male,22,3.0,Hostel,No,Yes,Car,NaN,Yes,Yes,No,No,150.0
6,Female,21,2.0,Home,Yes,No,No,No,No,Yes,No,Yes,200.0
7,Male,22,3.0,Hostel,No,Yes,Motorcycle,Yes,No,Yes,NaN,Yes,200.0
8,Female,18,1.0,Home,Yes,No,No,No,No,No,Yes,Yes,150.0
9,Male,19,1.0,Home,No,No,No,NaN,No,Yes,Yes,NaN,160.0
10,Male,22,3.0,Home,No,No,Car,No,No,No,Yes,Yes,350.0
11,Male,18,2.0,Hostel,No,No,Motorcycle,No,No,Yes,No,No,180.0
12,Female,18,2.0,Home,No,No,No,No,No,Yes,Yes,No,140.0
14,Female,22,4.0,Hostel,Yes,Yes,Car,No,No,No,Yes,Yes,300.0
15,Male,22,4.0,Home,No,No,Car,No,No,Yes,No,No,250.0
16,Female,17,1.0,Home,No,No,Car,No,No,No,No,No,250.0
17,Female,19,2.0,Hostel,No,NaN,NaN,No,No,Yes,Yes,No,150.0
18,Female,23,4.0,Home,No,No,No,No,NaN,Yes,Yes,Yes,150.0
19,Female,19,3.0,Home,No,No,Motorcycle,No,No,Yes,Yes,Yes,200.0
20,Male,19,2.0,Hostel,No,Yes,Car,NaN,No,Yes,NaN,Yes,300.0
21,Female,22,4.0,Home,Yes,Yes,Car,Yes,No,Yes,Yes,No,200.0
22,Male,21,4.0,Home,No,No,Car,Yes,No,No,No,No,150.0
23,Female,22,4.0,Home,No,Yes,No,No,No,Yes,No,Yes,220.0
24,Male,18,2.0,Home,No,No,Motorcycle,No,No,No,No,Yes,180.0
25,Female,19,NaN,Hostel,No,No,No,NaN,No,Yes,Yes,Yes,200.0
26,Male,22,4.0,Home,Yes,No,No,Yes,Yes,Yes,No,Yes,300.0
27,Male,18,1.0,Home,Yes,No,No,No,No,Yes,No,Yes,150.0
28,Male,18,1.0,Hostel,Yes,No,Motorcycle,No,No,No,No,No,200.0
29,Female,19,2.0,Home,No,No,No,No,No,Yes,No,No,200.0
30,Male,22,3.0,Home,No,Yes,NaN,Yes,Yes,No,No,No,150.0
31,Female,19,2.0,Hostel,Yes,Yes,Car,No,No,Yes,Yes,Yes,NaN
32,Male,23,4.0,Home,No,NaN,Car,Yes,No,Yes,NaN,No,350.0
33,Female,19,3.0,Home,No,No,Motorcycle,No,No,Yes,Yes,No,170.0
34,Female,19,2.0,NaN,Yes,No,NaN,No,No,No,Yes,No,180.0
35,Male,22,4.0,Hostel,No,No,No,Yes,NaN,Yes,No,Yes,200.0
36,Female,21,4.0,Home,No,Yes,Motorcycle,NaN,No,No,Yes,NaN,300.0
37,Male,22,NaN,Hostel,Yes,Yes,Car,No,NaN,Yes,No,Yes,250.0
38,Female,18,2.0,Home,No,No,Car,Yes,No,Yes,Yes,No,300.0
39,Male,19,2.0,Home,No,No,Car,Yes,Yes,Yes,No,No,250.0
43,Female,18,2.0,Home,No,No,Motorcycle,No,No,Yes,Yes,No,140.0
57,Male,22,4.0,Home,Yes,No,Motorcycle,Yes,Yes,Yes,No,Yes,300.0
59,Female,19,3.0,Home,No,No,Car,No,No,Yes,Yes,No,170.0

In [23]:
df = df[df['Monthly_expenses_$'].notna()]

Gender                   53
Age                      53
Study_year               51
Living                   53
Scholarship              53
Part_time_job            50
Transporting             50
Smoking                  49
Drinks                   48
Games_&_Hobbies          53
Cosmetics_&_Self-care    51
Monthly_Subscription     50
Monthly_expenses_$       53
dtype: int64

In [16]:
df[df.isnull().sum(axis=1) > 0]

,Gender,Age,Study_year,Living,Scholarship,Part_time_job,Transporting,Smoking,Drinks,Games_&_Hobbies,Cosmetics_&_Self-care,Monthly_Subscription,Monthly_expenses_$
2,Male,23,2.0,Home,Yes,No,No,No,No,No,No,NaN,180.0
5,Male,22,3.0,Hostel,No,Yes,Car,NaN,Yes,Yes,No,No,150.0
7,Male,22,3.0,Hostel,No,Yes,Motorcycle,Yes,No,Yes,NaN,Yes,200.0
9,Male,19,1.0,Home,No,No,No,NaN,No,Yes,Yes,NaN,160.0
17,Female,19,2.0,Hostel,No,NaN,NaN,No,No,Yes,Yes,No,150.0
18,Female,23,4.0,Home,No,No,No,No,NaN,Yes,Yes,Yes,150.0
20,Male,19,2.0,Hostel,No,Yes,Car,NaN,No,Yes,NaN,Yes,300.0
25,Female,19,NaN,Hostel,No,No,No,NaN,No,Yes,Yes,Yes,200.0
30,Male,22,3.0,Home,No,Yes,NaN,Yes,Yes,No,No,No,150.0
32,Male,23,4.0,Home,No,NaN,Car,Yes,No,Yes,NaN,No,350.0
34,Female,19,2.0,NaN,Yes,No,NaN,No,No,No,Yes,No,180.0
35,Male,22,4.0,Hostel,No,No,No,Yes,NaN,Yes,No,Yes,200.0
36,Female,21,4.0,Home,No,Yes,Motorcycle,NaN,No,No,Yes,NaN,300.0
37,Male,22,NaN,Hostel,Yes,Yes,Car,No,NaN,Yes,No,Yes,250.0
48,Female,19,2.0,Hostel,No,NaN,NaN,No,No,Yes,Yes,No,150.0
49,Female,23,4.0,Home,No,No,No,No,NaN,Yes,Yes,Yes,150.0
56,Female,19,NaN,Hostel,No,No,No,NaN,No,Yes,Yes,Yes,200.0
61,Male,22,4.0,Hostel,No,No,No,Yes,NaN,Yes,No,Yes,200.0
62,Female,21,4.0,Home,No,Yes,Motorcycle,NaN,No,No,Yes,NaN,300.0
63,Male,22,NaN,Hostel,Yes,Yes,Car,No,NaN,Yes,No,Yes,250.0
74,Female,19,2.0,Hostel,No,NaN,NaN,No,No,Yes,Yes,No,150.0
75,Female,23,4.0,Home,No,No,No,No,NaN,Yes,Yes,Yes,150.0
77,Male,23,2.0,Home,Yes,No,No,No,No,No,No,NaN,180.0
80,Male,22,3.0,Hostel,No,Yes,Car,NaN,Yes,Yes,No,No,150.0
82,Male,22,3.0,Hostel,No,Yes,Motorcycle,Yes,No,Yes,NaN,Yes,200.0
96,Female,19,2.0,Hostel,No,NaN,NaN,No,No,Yes,Yes,No,150.0
97,Female,23,4.0,Home,No,No,No,No,NaN,Yes,Yes,Yes,150.0
99,Male,23,2.0,Home,Yes,No,No,No,No,No,No,NaN,180.0
102,Male,22,3.0,Hostel,No,Yes,Car,NaN,Yes,Yes,No,No,150.0
104,Male,22,3.0,Hostel,No,Yes,Motorcycle,Yes,No,Yes,NaN,Yes,200.0