In [17]:
import numpy as np
import pandas as pd
from pycaret.classification import *

In [18]:
data = pd.read_csv('data/univ_clean.csv')

In [19]:
def get_modeling_df(orig_df):
    df = orig_df.copy()
    bins = [120, 150, 180, 210, 240, 270, 300, 330, 360]
    labels = [120,150,180,210,240,270,300, 330]
    df['Monthly_Expenses'] = pd.cut(df['Monthly_expenses_$'], bins=bins, labels=labels)
    df = df.drop('Monthly_expenses_$', axis =1)
    df = df.astype('category')
    df['Study_year'] = pd.to_numeric(df['Study_year'])
    return df

In [20]:
df = get_modeling_df(data)
df.head(2)

,Gender,Age,Study_year,Living,Scholarship,Part_time_job,Transporting,Smoking,Drinks,Games_&_Hobbies,Cosmetics_&_Self-care,Monthly_Subscription,Monthly_Expenses
0,Female,21,2.0,Home,No,No,No,No,No,No,Yes,No,120
1,Male,25,3.0,Hostel,No,Yes,Motorcycle,No,No,Yes,Yes,Yes,210

In [21]:
for c in df.columns.tolist():
    print(df[c].unique())

['Female ', 'Male ']
Categories (2, object): ['Female ', 'Male ']
[21, 25, 23, 19, 22, 18, 17]
Categories (7, int64): [17, 18, 19, 21, 22, 23, 25]
[2. 3. 1. 4.]
['Home', 'Hostel']
Categories (2, object): ['Home', 'Hostel']
['No', 'Yes']
Categories (2, object): ['No', 'Yes']
['No', 'Yes']
Categories (2, object): ['No', 'Yes']
['No', 'Motorcycle', 'Car']
Categories (3, object): ['Car', 'Motorcycle', 'No']
['No', 'Yes']
Categories (2, object): ['No', 'Yes']
['No', 'Yes']
Categories (2, object): ['No', 'Yes']
['No', 'Yes']
Categories (2, object): ['No', 'Yes']
['Yes', 'No']
Categories (2, object): ['No', 'Yes']
['No', 'Yes']
Categories (2, object): ['No', 'Yes']
[120, 210, 150, 180, 270, 330, 240]
Categories (8, int64): [120 < 150 < 180 < 210 < 240 < 270 < 300 < 330]

In [4]:
clf = setup(data = df, target = 'Monthly_Expenses',
                       data_split_shuffle=False,
                       silent=True, verbose=False)

model = create_model('dt', verbose=False)

In [15]:

# interpret_model(model, save = True)

'Feature Importance (All).png'